textColor = #bdbdbd


.title
  text-align center
  color textColor
  text-transform uppercase
  letter-spacing 2px
  font-weight 300
  font-size: 30px
  transition 0.5s
  padding 30px
  &:hover
    font-size 35px
    color white
    text-shadow: 0 0 5 px #f7b42c;
    cursor pointer


.container
  position relative
  display flex
  justify-content center
  align-items center
  flex-wrap wrap
  z-index 1
