// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

*
  margin 0
  padding 0
  box-sizing border-box
  font-family 'Roboto', sans-serif

body, html
  min-height 100vh
  background-color #3f0d12;
  background-image linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);




